{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block container %}
<section></section>
<div class=container id="cont">
    <div class="card mb-6">
        <!--style="max-width: 540px;" -->
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><b><span style="">{{ movie.title_kr }}</span></b></h5>
                    <p class="card-text"> <span id="font">요약 </span> {% for genre in movie.genres.all %}
                        {{ genre.name }} {% endfor %} | {{ movie.release_date}}</p>
                    <p class="card-text">{{ movie.overview}}</p>
                    <h4>평점: {{ movie.vote_average }} - 투표수: {{ movie.vote_count }}</h4>
                    
                    
                    <div class="card-group">
                    {% for actor in actors %}    
                      <div class="card">
                        <img src="https://image.tmdb.org/t/p/w500{{ actor.profile_path }}" class="card-img-top" alt="https://image.tmdb.org/t/p/w500{{ actor.profile_path }}">
                        <div class="card-body">
                          <h5 class="card-title">{{ actor.name }}</h5>
                         
                        </div>
                      </div>
                    {% endfor %}
                    </div>
            
                </div>
            </div>
        </div>
    </div>
    </section>
    <section>
        <ul>
            {% for comment in movie.comment_score_set.all %}
            <li> {{ comment.content }} - {{ comment.score }} <strong> 작성자: {{ comment.user }}</strong></li>


            <form action="{% url 'movies:comments_delete' movie.id comment.id %}" method='POST'>
                {% csrf_token %}
                <input type="submit" value="댓글삭제" />
            </form>
            </li>
            {% endfor %}
        </ul>

        <form action="{% url 'movies:comments_create' movie.id %}" method='POST'>
            {% csrf_token %}
            {% bootstrap_form comment_score_form %}
            <input type="submit" value="Submit">
        </form>
    </section>
</div>
{% endblock %}