<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    <title>Document</title>
    <script type="text/javascript" src="js/sidemenubar.js"></script>
    <link rel="stylesheet" href="css/styyle.css">
</head>
<body>
    <div id="mySidemenu" class="sidemenu">
        <a href="javascript:void(0)" class="close" onclick="closeSM()">&times;</a>
        <div class="sm-wrapper">
            <a href="#">HOME</a>
            <a href="#">PROF</a>
            <a href="#">ABT</a>
            <a href="#">CONT</a>
            
        </div>
        
    </div>
    <div id="pg-content">
        <div style="font-size: 50px; cursor: pointer; color: #565656" onclick="openSM()">$#9776</div>
        <h1>sidemenu</br><span>tutorial</span></h1>
    </div>
</body>
</html>