<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>학생 상세정보</h1>
    <ul>
        <li>Name : {{ student.name }}</li>
        <li>E-mail : {{ student.email }}</li>
        <li>Birthday : {{ student.birthday }}</li>
        <li>Age : {{ student.age }}</li>
    </ul>
    <a href="/student/">목록으로</a>
    <a href="/student/{{ student.pk }}/delete/">삭제하기</a>
    <a href="/student/{{ student.pk }}/edit/">수정하기</a>
</body>
</html>