<style>
    .naver
    {
        color : white; width : 198px; height : 48px;
        background-color: green; width : 210px; height : 70px;
    }
</style>
<h1 class="naver">Naver</h1>
<form action="https://search.naver.com/search.naver">
    <input type="text" name="query">
    <input type="submit">
</form>

<h1>Daum</h1>
<form action="https://search.daum.net/search">
        <input type="text" name="q">
        <input type="submit">
</form>

<h1>Google</h1>
<form action="https://www.google.com/search">
        <input type="text" name="q">
        <input type="submit">
</form>