* {
    margin: 0;
    padding: 0;
}

/* 복합 선택자 */
/* 1. 자손 선택자 */
/* section안의 모든 ul */
section, ul {
    margin: 10px 0;
}

/* 2. 자식 선택자 */
section > ul > li {
    font-size: 20px;
    font-weight: bold;
}

/* 3. 형제 선택자 */
/* + */
/* a의 형제 요소 중 a 바로 뒤에 오는 ul */
a + ul {
    background-color: gold;
}
/* ~ */
/* a의 형제 요소 중 a 뒤에 오는 모든 ul */
a ~ ul {
    border: 1px solid darkgray;
}

/* 속성 선택자 */
/* class라는 속성을 가진 ul의 자손 중 li */
ul[class] li {
    width: 24%;
    height: 50px;
    display: inline-block;
}