<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Student Edit</h1>
    <!--<form action="/student/{{ student.pk }}/update/" method="post">-->
        <!--{% csrf_token %}-->
        <input type="text" name="name" value="{{ student.name }}"/>
        <input type="text" name="email" value="{{ student.email }}"/>
        <input type="date" name="birthday" value="{{ student.birthday }}"/>
        <input type="number" name="age" value="{{ student.age }}"/>
        <input type="submit" value="Submit"/>
    </form>
</body>
</html>