h2 {
    color: blue;
}
.gj {
    color: yellow;
}
#id{
    color: green;
}
.bg {
    background-color: blue;
    background-position: 200px;
    background-size: contain;
}
.font1{
    font-size: 30px;
    font-weight: 700;
    font-style: italic;
    line-height: 1.5;
    letter-spacing: -3px;
    text-align: left;
}